/* reset */
* {
  margin: initial;
  padding: initial;
}

li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

a {
  color: inherit;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
}

/* layout */
.l_wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.l_container {
  display: flex;
  gap: 30px;
}

.l_contents {
  flex: 1;
  box-shadow: inset 0 0 10px pink;
}

.l_sidebar {
  flex-shrink: 0;
  flex-basis: 350px;
  box-shadow: inset 0 0 10px rgb(226, 127, 127);
}

.l_row {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}

.l_col {
  background-color: antiquewhite;
  flex: 1;
}

/* component */
.header {
  padding: 146px 0 89px 0;
}

.headings {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headings-list {
  display: flex;
  gap: 40px;
  font-size: 1.5rem;
  color: #5e607a;
}

.headings-list-item:hover {
  color: #e9aa52;
}

.section {
  background-color: rgb(135, 158, 226);
}
